.header {
  padding: 12px 0;
  margin-bottom: 60px;
}

.site-menu {
  margin-left: auto;
}

.upper-menu {
  margin-bottom: 32px;
  justify-content: flex-end;

  &-item {

  }
}

.upper-menu, .menu {
  &-item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.menu {
  &-item {
    &-link {
      text-transform: uppercase;
      cursor: pointer;

      &-current {
        cursor: default;
        opacity: .7;
      }

      &:hover {
        opacity: .7;
      }
    }
  }

}