.posts-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  width: 32%;
  justify-content: space-between;
  min-height: 340px;
  margin-bottom: 60px;

  &-large {
    width: 49%;
    min-height: 420px;
  }

  &-title {
    margin-bottom: 18px;
  }

  &-body {
    margin-bottom: 24px;
  }

  &-thumbnail {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    object-position: top;
    margin-top: auto;
    margin-bottom: 18px;
    border-radius: 12px;

    &-large {
      max-height: 280px;
    }
  }

  &-footer {
    flex-wrap: wrap;
  }

  &-author {
    margin-right: 8px;
  }

  &-source {
    font-style: italic;
    font-weight: 500;
  }

  &-delimiter {
    margin: 0 8px;
  }

  &-published-data {
    color: #151519;
  }
  &-published-date {
    margin-right: 8px;
  }
}